<!DOCTYPE html>
<html>
<head>

  <!-- Responsive -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Title -->
  <title>Quiz Memory</title>

  <!-- Meta Tags required for Progressive Web App -->
  <meta name="apple-mobile-web-app-status-bar" content="#aa7700">
  <meta name="theme-color" content="black">

  <!-- Manifest File link -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
  
  <h1>Quiz Memory</h1>
    <p>Bienvnue sur la demo du premier quiz !</p>
    
    <form method="post">

      <div>

        <label for="">Comment t'appelle tu ?</label>
        <input name="name" required/>
        <br/><br/>

      </div>

      <div>

        <h2>Quiz n°1 : Culture Général</h2>
        <p>Ce quiz testeras t'a culture geek au travers de diverse question.
        Ton score seras afficher a la fin du quiz.</p>
        <p>Bonne chance et amuse toi !</p>

      </div>

      <div>

        <h2>En quelle année est sortie le premier téléphone portable en France ?</h2>

        <label for="q1-rep-1">1991</label>
        <input type="radio" id ="q1-rep-1" name="question-1" value="1991">
            
        <label for="q1-rep-1">1986</label>
        <input type="radio" id ="q1-rep-2" name="question-1" value="1986">

        <label for="q1-rep-1">1973</label>
        <input type="radio" id ="q1-rep-3" name="question-1" value="1973">

        <label for="q1-rep-1">1999</label>
        <input type="radio" id ="q1-rep-4" name="question-1" value="1999">
            
      </div>

      <div>

        <h2>Quelle version de Window n'existe pas ?</h2>

        <label for="q2-rep-1">Windows 10</label>
        <input type="radio" id ="q2-rep-1" name="question-2" value="Windows 10">
            
        <label for="q2-rep-2">Windows 8.1</label>
        <input type="radio" id ="q2-rep-2" name="question-2" value="Windows 8.1">

        <label for="q2-rep-3">Windows Vista</label>
        <input type="radio" id ="q2-rep-3" name="question-2" value="Windows Vista">

        <label for="q2-rep-4">Windows 9</label>
        <input type="radio" id ="q2-rep-4" name="question-2" value="Windows 9">
            
      </div>

      <div>

        <h2>Qu'est-ce-que ChatGPT?</h2>

        <label for="q3-rep-1">Un réseau social</label>
        <input type="radio" id ="q3-rep-1" name="question-3" value="Un réseau social">
            
        <label for="q3-rep-2">Une intelligence artificiel</label>
        <input type="radio" id ="q3-rep-2" name="question-3" value="Une intelligence artificiel">

        <label for="q3-rep-3">Un jeu vidéo</label>
        <input type="radio" id ="q3-rep-3" name="question-3" value="Un jeu vidéo">

        <label for="q3-rep-4">Un nom d'entreprise</label>
        <input type="radio" id ="q3-rep-4" name="question-3" value="Un nom d'entreprise">
            
      </div>

      <div>

        <h2>Qui a inventé l'imprimente 3D ?</h2>

        <label for="q4-rep-1">Fondation Blender</label>
        <input type="radio" id ="q4-rep-1" name="question-4" value="Fondation Blender">
            
        <label for="q4-rep-2">Elon Musk</label>
        <input type="radio" id ="q4-rep-2" name="question-4" value="Elon Musk">

        <label for="q4-rep-3">Charles Hull</label>
        <input type="radio" id ="q4-rep-3" name="question-4" value="Charles Hull">

        <label for="q4-rep-4">Google</label>
        <input type="radio" id ="q4-rep-4" name="question-4" value="Google">
            
      </div>

      <div>

        <h2>Quelle affirmation entre l'ADSL et la Fibre est faux ?</h2>

        <label for="q5-rep-1">Utilise le même réseaux</label>
        <input type="radio" id ="q5-rep-1" name="question-5" value="Utilise le même réseaux">
            
        <label for="q5-rep-2">La fibre a un débits plus puissant</label>
        <input type="radio" id ="q5-rep-2" name="question-5" value="La fibre a un débits plus puissant">

        <label for="q5-rep-3">Utilise des technologie différentes</label>
        <input type="radio" id ="q5-rep-3" name="question-5" value="Utilise des technologie différentes">

        <label for="q5-rep-4">Les deux ont permette l'accés a Internet</label>
        <input type="radio" id ="q5-rep-4" name="question-5" value="Les deux ont permette l'accés a Internet">
            
      </div>



      <button type="submit">Submit</button>

    </form>


  <script>
      window.addEventListener('load', () => {
        registerSW();
      });
  
      // Register the Service Worker
      async function registerSW() {
        if ('serviceWorker' in navigator) {
          try {
            await navigator
                  .serviceWorker
                  .register("{{ url_for('static', filename='serviceworker.js')}}");
          }
          catch (e) {
            console.log('SW registration failed');
          }
        }
      }
  </script>

</body>
</html>
