<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Questionnaire</title>
</head>

<body>

    <h1>As tu retenue la commande ?</h1>

    <form method="post">

        <h2>Quelle sandwich ?</h1>

        <div>
            <label for="sandwich">sandwich :</label>
            <select name="sandwich" id="sandwich">
                <option value="">--Veuillez Selectionner une option</option>
                <option value="mexicanos">Mexicanos</option>
                <option value="panini dinde">Panini Dinde</option>
                <option value="panini viande hachée">Panini Viande Hachée</option>
                <option value="poulet mayo">Poulet Mayo</option>
                <option value="merguez">Merguez</option>
            </select>
            <br><br>
        </div>

        <div>
            <label for="sauce">Sauce :</label>
            <select name="sauce" id="sauce">
                <option value="">--Veuillez Selectionner une option</option>
                <option value="andalouse">Andalouse</option>
                <option value="poivre">Poivre</option>
                <option value="mayonnaise">Mayonnaise</option>
                <option value="hannibal">Hannibal</option>
                <option value="algérienne">Algérienne</option>
                <option value="samourai">Samourai</option>
            </select>
            <br><br>
        </div>
        <div>
            <label for="vegetables">Crudités :</label>
            <select name="vegetables" id="vegetables">
                <option value="">--Veuillez Selectionner une option</option>
                <option value="sans crudités">Sans Crudités</option>
                <option value="salades">Salades</option>
                <option value="tomates">Tomates</option>
                <option value="olives">Olives</option>
                <option value="cornichon">Cornichon</option>
            </select>
            <br><br>
        </div>
        <div>
            <label for="bread">Type de pain :</label>
            <select name="bread" id="bread">
                <option value="">--Veuillez Selectionner une option</option>
                <option value="baguette">Baguette</option>
                <option value="galette">Galette</option>
                <option value="faluche">Faluche</option>
            </select>
            <br><br>
        </div>

        <button type="submit">Valider</button>

    </form>
    
    <br><br>
    
</body>
</html>